<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>RegisterationController</servlet-name>
        <servlet-class>Controller.RegisterationController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ThemeController</servlet-name>
        <servlet-class>Controller.ThemeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordController</servlet-name>
        <servlet-class>Controller.PasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordController</servlet-name>
        <servlet-class>Controller.ForgotPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccountController</servlet-name>
        <servlet-class>Controller.AccountController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>Controller.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserPicController</servlet-name>
        <servlet-class>Controller.InserPicController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComposePageContoller</servlet-name>
        <servlet-class>Controller.ComposePageContoller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComposePageController</servlet-name>
        <servlet-class>Controller.ComposePageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SendMailController</servlet-name>
        <servlet-class>Controller.SendMailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfilePicController</servlet-name>
        <servlet-class>Controller.ProfilePicController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DraftController</servlet-name>
        <servlet-class>Controller.DraftController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Email</servlet-name>
        <servlet-class>Controller.Email</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InboxDeleteController</servlet-name>
        <servlet-class>Controller.InboxDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OutboxDeleteController</servlet-name>
        <servlet-class>Controller.OutboxDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DdeleteDeleteController</servlet-name>
        <servlet-class>Controller.DdeleteDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowPageController</servlet-name>
        <servlet-class>Controller.ShowPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DraftForwDelController</servlet-name>
        <servlet-class>Controller.DraftForwDelController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteForwardController</servlet-name>
        <servlet-class>Controller.DeleteForwardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DiscussionPageController</servlet-name>
        <servlet-class>Controller.DiscussionPageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlbumController</servlet-name>
        <servlet-class>Controller.AlbumController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlbumDeleteController</servlet-name>
        <servlet-class>Controller.AlbumDeleteController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterationController</servlet-name>
        <url-pattern>/RegisterationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ThemeController</servlet-name>
        <url-pattern>/ThemeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordController</servlet-name>
        <url-pattern>/PasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordController</servlet-name>
        <url-pattern>/ForgotPasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccountController</servlet-name>
        <url-pattern>/AccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserPicController</servlet-name>
        <url-pattern>/InserPicController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComposePageContoller</servlet-name>
        <url-pattern>/ComposePageContoller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComposePageController</servlet-name>
        <url-pattern>/ComposePageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SendMailController</servlet-name>
        <url-pattern>/SendMailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfilePicController</servlet-name>
        <url-pattern>/ProfilePicController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DraftController</servlet-name>
        <url-pattern>/DraftController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Email</servlet-name>
        <url-pattern>/Email</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InboxDeleteController</servlet-name>
        <url-pattern>/InboxDeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OutboxDeleteController</servlet-name>
        <url-pattern>/OutboxDeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DdeleteDeleteController</servlet-name>
        <url-pattern>/DdeleteDeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowPageController</servlet-name>
        <url-pattern>/ShowPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DraftForwDelController</servlet-name>
        <url-pattern>/DraftForwDelController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteForwardController</servlet-name>
        <url-pattern>/DeleteForwardController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DiscussionPageController</servlet-name>
        <url-pattern>/DiscussionPageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlbumController</servlet-name>
        <url-pattern>/AlbumController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlbumDeleteController</servlet-name>
        <url-pattern>/AlbumDeleteController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
